<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
      <!-- Navbar -->
      <div class="topnav">
        <a class="active" href="/">HOME</a>
        <a href="/create">CREATE USERS</a>
      </div>

      <table>
        <tr>
          <th>ID</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>email</th>
          <th>Actions</th>
        </tr>

        <% for (let i = 0; i < listUsers.length; i++) { %>
          <tr>
            <td><%= listUsers[i].id %></td>
            <td><%= listUsers[i].firstName %></td>
            <td><%= listUsers[i].lastName %></td>
            <td><%= listUsers[i].email %></td>
            <td>
              <a href="/update/<%= listUsers[i].id %>">edit</a>
              <form action="/delete-user/<%= listUsers[i].id %>" method="POST">
                <button>delete</button>
              </form>
            </td>
          </tr>
        <% } %>

      </table>
    </div>
  </body>
</html>
