<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
        <!-- Navbar -->
      <div class="topnav">
        <a href="/">HOME</a>
        <a href="/create">CREATE USERS</a>
      </div>

      <!-- Form add new users  -->
      

      <!-- <%= JSON.stringify(userUpdate) %> -->
      <h1>UPDATE USER</h1>
      <div class="form">
        <form action="/update-user/<%= userUpdate.id %>" method="post">
          <fieldset>
            <legend>Form add new users</legend>

            <div class="input-group">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" value="<%= userUpdate.email %>"/>
              </div>

            <div class="input-group">
              <label for="name">Name :</label>
              <input type="text" id="name" name="name"  value="<%= userUpdate.name %>"/>
            </div>

            <div class="input-group">
              <label for="city">City :</label>
              <input type="text" id="city" name="city"  value="<%= userUpdate.city %>"/>
            </div>
            
            <button class="btn success" type="submit">ADD NEW</button>

          </fieldset>
        </form>
      </div>

    </div>
  </body>
</html>
